article{
 color:Crimson;
 border: 5px solid rgb(255,192,203) ;
 text-align:center;
 font-family: 'Enriqueta', serif;
 font-size: 1.4em;
 background-color:#F0E68C;
}
header{
  text-align:center;
  color:LightSlateGray;
  border: 5px solid LightSlateGray ;
  border-radius:30px;
  font-family: 'Tangerine', cursive;
  font-size: 2.0em;
  text-shadow:2px 2px 2px black;
  background-color:	#DCDCDC;
}
h2{
  color:#FF4500;
}
footer{
  border: 10px solid transparent;
  border-image: url("https://cdn.pixabay.com/photo/2017/03/06/14/12/pink-daisies-2121592_960_720.jpg") 20% round;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 2.0em;
}
h4{
  border:5px solid lightslategrey;
  border-radius:30px;
  text-align:center;
  font-family: 'Pathway Gothic One', sans-serif;

}